<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autowire" type="Autowire.Registration.Xml.AutowireConfigurationSection, Autowire" />
  </configSections>

  <autowire>
    <containers>
      <container name="structure">
        <types>
          <type name="singleton_type" scope="Singleton" />
          <type name="default_type" />
        </types>
      </container>     
      <container name="foo_and_bar">
        <types>
          <type name="Autowire.Tests.EnumerableTests+Bar, Autowire.Tests" />
          <type name="Autowire.Tests.EnumerableTests+Foo, Autowire.Tests" />
        </types>
      </container>
      <container name="test">
        <types>
          <type name="Autowire.Tests.EnumerableTests+Bar, Autowire.Tests" scope="Singleton">
            <!--
            <ctor>
              <param name="" value=""></param>
            </ctor>
            <method>
              <param name="" value=""></param>
            </method>
            <property></property>
            <field></field>
            -->
          </type>
        </types>
      </container>
    </containers>
  </autowire>
</configuration>