<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autowire" type="Autowire.Registration.Xml.AutowireConfigurationSection, Autowire" />
  </configSections>

  <autowire>
    <containers>
      <container name="structure">
        <types>
          <type name="singleton_type" scope="Singleton" />
          <type name="default_type" />
          <type name="with_ctor">
            <ctor>
              <argument name="bar" type="Userprovided" />
              <argument name="foo" />
            </ctor>
          </type>
        </types>
      </container>
      
      <container name="foo_and_bar">
        <types>
          <type name="Autowire.Tests.EnumerableTests+Bar, Autowire.Tests" />
          <type name="Autowire.Tests.EnumerableTests+Foo, Autowire.Tests" scope="Singleton" />
        </types>
      </container>
      
      <!--<container name="inject_ctor">
        <types>
          <type name="Autowire.Tests.EnumerableTests+Foo, Autowire.Tests">
            <ctor name="ok"/>
              --><!--<argument name="bar" userprovided="true"></argument>--><!--
          </type>
        </types>
      </container>
      -->

      <!--
          <method>
            <param name="" value=""></param>
          </method>
          <property></property>
          <field></field>
      -->
    </containers>
  </autowire>
</configuration>